.card-container {
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    transition: 0.5s ease-out;
    overflow: hidden;
    text-align: center;
    align-items: center;
  
    
    
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;
}

.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-out;
    aspect-ratio: 6 / 3;
    object-fit: cover;
}

.card-text {
    color: rgb(134, 134, 134);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 40px;
}

.card-button {
    transform: translate(-50%, 50%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #325419;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    margin-bottom: 30px;
}

.card-button a {
    color: #fff;
    text-decoration: none;
}

.card-container:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card-container:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.card-container:hover .card-image {
    transform: scale(1.05);
}
